
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247,247,247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    text-align: center;
}

.header {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: black;
}

a {
    color: beige;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.form_container {
    border: 1px solid;
    padding: 10px;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    width: 30%;
    background-color: rgb(0, 0, 0, 0.4);
}

input {
    padding: 5px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    padding: 5px;
    border-radius: 4px;
    width: 80px;
    text-align: center;
}